.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container .heading {
  font-size: 4rem;
  margin: 14px;
  font-size: 3em;
  font-weight: bold;
}

.container .button {
  font-size: 1.4rem;
}

.container .description {
  font-size: 16px;
  line-height: 1.5em;
  text-align: center;
  margin: 20px 30px;
}
